**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/test_data/autosomal_dominant
**test_data/autosomal_recessive
**test_data/precases
**test_data/x_linked
**test_data/*json
**test_data/*csv
**test_data/template_test_data
**uploads/tmp_folder/*
LICENSE
README.md
