<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- DataTables JS and DataTables Bootstrap integration JS -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <!-- Plotly library -->
    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>

</head>

<body>
    <h1>BASHer SNP Haplotyping Report</h1>
    {{ warning }}
    {{ header_html }}
    <table>
        <tr>
            <td><b>Mode of Inheritance:</b> {{mode_of_inheritance}} : {{consanguinity_flag}}</td>
        </tr>
        <tr>
            <td><b>SNP Data File:</b> {{input_file}} </td>
            <td><b>Report Date:</b> {{report_date}} </td>
            <td><b>Basher Release:</b> {{basher_version}} </td>
        </tr>
        <tr>
            <td><b>Gene:</b> {{gene_symbol}} </td>
            <td> <b>Genomic Range:</b> Chr{{chromsome}}:{{gene_start}}-{{gene_end}} </td>
            <td> <b>Genomic Build:</b> {{genome_build}} </td>
        </tr>
        <tr>
            <td> <b>Male Partner:</b> {{male_partner}} </td>
            <td> <b>Male Partner Status:</b> {{male_partner_status}} </td>
        </tr>
        <tr>
            <td> <b>Female Partner:</b> {{female_partner}}</td>
            <td> <b>Female Partner Status:</b> {{female_partner_status}} </td>
        </tr>
        <tr>
            <td> <b>Reference:</b> {{reference}} </td>
            <td> <b>Reference Status:</b> {{reference_status}} </td>
            <td> <b>Reference
                    Relationship:</b>
                {{reference_relationship}} </td>
        </tr>
    </table>


    <!-- *** Section 1 *** --->
    <h2>Probe Classification Table</h2>
    {{ warning }}
    <table>
        <tbody>
            <tr>
                <td>Minimum Genomic Coordinate:</td>
                <td><input type="text" id="min" name="min"></td>
            </tr>
            <tr>
                <td>Maximum Genomic Coordinate:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
        </tbody>
    </table>
    {{ results_table_1 }}

    <h2>NoCalls per Sample</h2>
    {{ warning }}
    {{ qc_table }}


    <h2>Informative SNPs by region</h2>
    {{ warning }}
    {{ summary_snps_table }}

    <h2>Embryo Alleles by Risk Category</h2>
    {{ warning }}
    {{ summary_embryo_table }}

    <h2>Embryo Summary by Risk Category and SNP Position</h2>
    {{ warning }}
    {{ summary_embryo_by_region_table }}

    <h2>Plot Embryo Results</h2>
    {{ warning }}
    {{ text_for_plots }}
</body>

<script>
    $(document).ready(function () {
        $('#results_table_1 thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#results_table_1 thead');

        var table = $('#results_table_1').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();
                // For each column
                api.columns().eq(0).each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');

                    // On every keypress in this input
                    $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                        .off('keyup change')
                        .on('keyup change', function (e) {
                            e.stopPropagation();
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})';
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api.column(colIdx).search(
                                this.value != '' ? regexr.replace('{search}', '(((' + this.value + ')))') : '',
                                this.value != '',
                                this.value == ''
                            ).draw();

                            $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
            }
        });

        // Custom filtering for min and max values
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = parseInt($('#min').val(), 10);
                var max = parseInt($('#max').val(), 10);
                var Position = parseFloat(data[3]) || 0; // use data for the Position column

                if ((isNaN(min) && isNaN(max)) ||
                    (isNaN(min) && Position <= max) ||
                    (min <= Position && isNaN(max)) ||
                    (min <= Position && Position <= max)) {
                    return true;
                }
                return false;
            }
        );

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });
    });

</script>


<script>
    $(document).ready(function () {
        $('#T_qc_table').DataTable({
            paging: false,
            ordering: false,
            info: false,
            searching: false,
            initComplete: function () {
                // Add Bootstrap border class to the table after DataTables has been initialized
                $('#T_qc_table').addClass('table table-striped table-bordered border-dark');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#summary_snps_table').DataTable({
            paging: false,
            ordering: false,
            info: false,
            searching: false,
            initComplete: function () {
                // Add Bootstrap border class to the table after DataTables has been initialized
                $('#summary_snps_table').addClass('table center');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#summary_embryo_table').DataTable({
            paging: false,
            ordering: false,
            info: false,
            searching: false,
            initComplete: function () {
                // Add Bootstrap border class to the table after DataTables has been initialized
                $('#summary_embryo_table').addClass('table table-striped table-bordered');
            }
        });
    });
</script>

</html>