<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>

<body>
    <h1>Placeholder 1</h1>

    <!-- *** Section 1 *** --->
    <h2>Probe Classification Table</h2>
    <tbody>
        <tr>
            <td>Minimum Genomic Coordinate:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum Genomic Coordinate:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
        {{ results_table_1 }}

        <h2>NoCalls per Sample</h2>
        {{ nocall_table }}

        <h2>NoCalls Proportion per Sample</h2>
        {{ nocall_percentages_table }}

        <h2>Informative SNPs by region</h2>
        {{ summary_snps_table }}

        <h2>Embryo Alleles by Risk Category</h2>
        {{ summary_embryo_table }}

        <h2>Embryo Summary by Risk Category and SNP Position</h2>
        {{ summary_embryo_by_region_table }}

        <h2>Plot Embryo Results</h2>
        {{ html_text_for_plots }}
</body>

<script>
    $(document).ready(function () {
        $('#results_table_1 thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#results_table_1 thead');
        var table = $('#results_table_1').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();

                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();

                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#summary_snps_table').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#nocall_table').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#nocall_percentages_table').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#summary_embryo_table').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#summary_embryo_by_region_table').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,
        });
    });
</script>


<script>
    /* Custom filtering function which will search data in column four between two values */
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = parseInt($('#min').val(), 10);
            var max = parseInt($('#max').val(), 10);
            var Position = parseFloat(data[3]) || 0; // use data for the Position column

            if ((isNaN(min) && isNaN(max)) ||
                (isNaN(min) && Position <= max) ||
                (min <= Position && isNaN(max)) ||
                (min <= Position && Position <= max)) {
                return true;
            }
            return false;
        }
    );

    $(document).ready(function () {
        var table = $('#results_table_1').DataTable();

        // Event listener to the two range filtering inputs to redraw on input
        $('#min, #max').keyup(function () {
            table.draw();
        });
    });
</script>

</html>